.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: 22px;
  font-weight: bold;
  color: #e9e9e9;
  background: goldenrod;
  padding: 40px;
}

.btn {
  position: fixed;
  z-index: 1;
  right: 40px;
  bottom: 40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
  font-weight: bold;
  color: #f1f1f1;
  background: goldenrod;
  cursor: pointer;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.8);
  webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.8);
  mozbox-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.8);
  transition: transform 0.06s ease;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
